* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  transform: translateZ(0);
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
}

body {
  background: $black;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: $base-font-size;
}

ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

strong {
  color: $black;
}

a {
  text-decoration: underline;
}

a, button,
a:focus, button:focus {
  outline: none !important;
}

h1 {
  line-height: 1.0;
}

h1 small,
h2 small {
  font-size: 70%;
  color: inherit;
}

h5 {
  font-size: .9em;
  font-weight: 200;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #333;
  box-shadow: 0px 1px 4px 1px #ddd;
  cursor: pointer;
  font-size: 1em;
  margin-top: 5px;
  padding: 10px;
  transform: translateY(-1px);
  transition: all .15s linear;

  &:hover {
    box-shadow: 0px 2px 8px 1px #ddd;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: inset 0px 0px 12px 1px #eee;
    transform: none;
  }
}

.app {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 75% 25%;
  grid-row: 2;
  height: 100vh;
  overflow-y: hidden;

  @media screen and (min-width: 1600px) {
    grid-template-columns: 10% 90%; 
  }

  @include media-query-large {
    grid-template-columns: 25% 75%;
  }

  @include media-query-medium {
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 20%;
    overflow-y: auto;
  }

  @include media-query-landscape {
    grid-template-rows: 20% 80%;
    overflow-y: hidden !important;
  }

  @include media-query-small {
    grid-template-rows: 20% 60% 20%;
  }
}

