.carousel {
  background: #333;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: $small;
  grid-template-columns: 90% 10%;
  z-index: 100;

  .carousel-container {
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    left: -33.33%;
    position: relative;
    transform: translateX(33.33%);
  
    &.fixed {
      transform: none;
      transition: transform .7s cubic-bezier(.33, 1, .35, .99);
    }
  
    &:active, &:focus {
      outline: 0;
    }
  }
  
  .slideable {
    align-items: center;
    display: flex;
    filter: grayscale(90%);
    flex: 1 0 33.333%;
    opacity: .3;
    order: 2;
    transition: opacity .25s ease-in-out, filter .2s ease-out;
  }

  .pivot {
    order: 1;
  }

  .current-item {
    filter: none;
    opacity: 1;
  }

  .arrow-icon {
    align-self: center;
    cursor: pointer;
    display: block;
    fill: white;
    height: 30%;
    justify-self: center;
    transition: transform 0.4s, fill 0.25s;
    width: 50px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
      fill: #CC2649;
    }


    &:active, &:focus {
      transform: scale(1.1);
    }
  }

  .scale-out {
    @include scale-and-fade(scale-and-fade-out, .7s, ease-in-out, 0) {
      @include set-keyframes(scale-and-fade-out) {
        @include scale-and-fade-property(to, .5, 0);
      }
    }

    &:after {
      height: 100%;
      left: 0;      
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@include media-query-medium {
  .carousel {
    grid-template-columns: 80% 20%;

    .carousel-track {
      left: -100%;
      transform: translateX(100%);
    }
  }
}

@include media-query-landscape {
  .carousel {
    display: none;
  }
}

@include media-query-large {
  .carousel {
    .carousel-track {
      left: -50%;
      transform: translate(50%);
    }

    .slideable {
      flex: 1 0 50%;
    }

    .arrow-icon {
     justify-self: none;
      transform: none !important;
      transition: none;
    }
  }
}

@include media-query-small {
  .carousel {
    .carousel-track {
      left: -100%;
      transform: translate(100%);
    }

    .slideable {
      flex: 1 0 100%;
    }
  }
}
