.human-view {
  background: $white;
  min-height: 100%;
  padding: $small;
}

.header-title {
  border-bottom: 4px solid $red;
  color: $ocean;
  font-size: 1em;
}

@include media-query-medium {
  .human-view {
    font-size: .7em;
    grid-column: 1 / -1;
    height: auto;
    min-height: auto;
    padding-bottom: $med;
    text-align: center;
    width: 100%;
  }

  .header-title {
    margin: 0 auto;
    width: 50%;
  }

  .byline, .code-link {
    display: none;
  }
}

@include media-query-landscape {
  .human-view {
    display: initial;   
  }
}

@include media-query-small {
  .human-view {
    padding-bottom: $med;
  }
}
