.human-view {
  background: $white;
  padding: $small;
}

.header-title {
  color: $ocean;

  h1 {
    border-bottom: 4px solid $red;
    display: table-cell;
  }

  &:after {
    content: '';
    display: table-cell;
    width:100%;
  }
}

@include media-query-medium {
  .human-view {
    padding-bottom: $med;
    text-align: center;
    width: 100%;
  }

  .header-title {
    margin: 0 auto;
    width: 50%;
  }

  .byline, .code-link {
    display: none;
  }
}

@include media-query-landscape {
  .human-view {
    display: initial;   
  }
}

@include media-query-small {
  .human-view {
    padding-bottom: $med;
  }
}
