.hide {
  opacity: 0 !important;
}

.inline {
  display: inline-block;
}

.grid-spacing {
  margin-top: $med;
  margin-bottom: $med;

  @include media-query-medium {
    margin-top: $small;
    margin-bottom: $small;
  }
}

.link {
  color: $night;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;

  &:hover {
    color: $red;
  }
}

.relative {
  position: relative;
}

.right {
  float: right;
}

.lipstick {
  background-color: $pink-lipstick;
}

.wine {
  background-color: $wine;
}

.blue {
  background-color: $ocean;
}

.purple {
  background-color: $night;
}

.hide-node {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 0
}

.show-node {
  opacity: 1;
}

