// Colors
$white: #fff;
$black: #333;
$gray: #575757;
$red: #CC2649;
$pink-lipstick: #714854;
$wine: #66324C;
$ocean: #33384E;
$night: #27273B;

$base-font-size: 16px;
$large-font-size: 2rem;

$small: 10px;
$med: 20px;

$med-line-height: 1.5em;

$small-media-query: 320px;
$med-media-query: 768px;
$large-media-query: 991px;

$image-ratio: percentage((100 / (900 / 474)) * .01)