html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  position: relative;
}

h1 {
  line-height: 1.0;
}

h1 small,
h2 small {
  font-size: 70%;
  color: inherit;
}

ul {
  list-style: none;
}

hr {
  border-color: #aaa;
  border-width: 2px;
}

img {
  vertical-align: middle;
  width: 100%;
}

strong {
  color: #333;
}

a {
  text-decoration: underline;
}

h5 {
  font-weight: 200;
}

a, button,
a:focus, button:focus {
  outline: none !important;
}

.sidebar {
  background: #fff;
  min-height: 100%;
  padding: 10px;
}

.projects {
  align-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-around;
  margin: 10px 20px 0 20px;
  min-height: 100%;
  -webkit-flex-flow: row wrap;
}

.link {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.link:hover {
  color: rgb(242,73,73) !important;
}

.upper {
  text-transform: uppercase;
}

.header-title {
  border-bottom: 4px solid #CC2649;
  color: #33384E;
  font-size: 1.3em;
}

#main-list {
  height: 100%;
  min-height: 600px;
  z-index: 1;
}

.hide {
  opacity: 0 !important;
}

.click-overlay {
  z-index: 10000 !important;
}

.hide-image {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 0
}

.show-image {
  opacity: 1;
}

.media-box a:hover {
  cursor: pointer;
  color: #B3B0B6;
  -webkit-transition: all 0.15s ease-in-out;
}

.alpha {
  padding-left: 0px;
}

.omega {
  padding-right: 0px;
}

.inline {
  display: inline-block;
}

.black {
  color: #2E2828;
}

.black-bg {
  background: #2E2828;
}

.yellow {
  color: #FDF8BA;
}

.yellow-bg {
  background: #FDF8BA;
}

.gray {
  color: #DDDCEC;
}

.gray-bg {
  background: #DDDCEC;
}

.white {
  color: #FCFCFC;
}

.white-bg {
  background: #FCFCFC;
}

.purple {
  color: #B3B0B6;
}

.purple-bg {
  background: #B3B0B6;
}

.grid-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.media-box {
  background: transparent;
  margin-bottom: 20px;
  position: relative;
  transition: width 1s;
  width: 32%;
}

.media-box img {
  border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  -webkit-border-radius: 2px 2px;

  outline: 0px;

  cursor: pointer;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
}

.media-box.active img {
  outline: 4px solid rgba(242,73,73, 0.8);
}

.bottom {
  margin-bottom: 20px;
}

.center {
  margin: 0 auto;
}

.mute {
  color: #575757;
}

.no-margin {
  margin: 0;
}

.btn-nav {
  border: 3px solid #aaa;
  border-radius: 20px;
  padding-top: 2px;
  background: #fff;
  padding: 2px 5px;
  width: 30px;
  color: #aaa;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#prev-btn span,
#next-btn span {
  top: 2px;
  right: 1px;
}

#close-btn span {
  top: 3px;
}

.btn-nav:hover {
  color: #333;
  border: 3px solid #333;
}

.preloader {
  background:#fff url('../images/preloader.gif') center center no-repeat;
  box-shadow: inset 0px 0px 2px rgb(225, 225, 225);
  display: inline-block;
  z-index: 0;
}

.align-right {
  text-align: right;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (min-width: 1280px) {
  #project-detail-view {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
 h1 {
   font-size: 2.5vw;
 }


 h5 {
   font-size: 1.2vw;
 }
}

@media only screen and (max-width: 990px) {
  h1 {
    margin-bottom: 0px;
  }

  h5 {
    margin: 0;
  }

  .grid-spacing {
    margin-top: 0;
    margin-bottom: 0;
  }

  header h1 {
    margin-top: 10px;
  }

  .row .spacing {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #main-list {
    padding-top: 5px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
    text-align: center;
  }

  header h1 {
    font-size: 3rem;
  }

  header h5 {
    font-size: initial;
  }

  header a {
    font-size: initial;
  }

  .portfolio-wrapper {
    display: block;
    height: auto;
    width: 100%;
  }

  .sidebar {
    height: auto;
  }

  .projects {
    display: block;
    margin-top: 20px;
  }

  .media-box {
    width: 100% !important;
    margin-bottom: 20px;
  }

  #project-detail-view {
    width: 100%;
  }
}


.overlay {
  width: 300px;
  height: 350px;
  background: white;
  position: absolute;
  top: 30%;
  left: 40%;
  opacity: 0;
  transform: scale(1.4);
}

.overlay.animate-me {
  opacity: 1;
}

.animate-me {
  animation: size-up .4s linear;
  box-shadow: -1px 4px 15px 2px #1f1717;
}

@keyframes size-up {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  25% {
    opacity: .25;
    transform: scale(.45);
  }

  50% {
    opacity: .5;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1.4);
  }
}
